<!doctype html>
<html>
<head>
	<title>GET and POST checker</title>
</head>
<body>
<h1>GET and POST checker</h1>
<h2>Input information into URL or Advanced Rest client</h2>

	{{{body}}}
</body>
</html>